:root {
	--sl-color-accent-low: #430922;
	--sl-color-accent: #311839;
	--sl-color-accent-high: #fab0c6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeecf8;
	--sl-color-gray-2: #c3bfcf;
	--sl-color-gray-3: #8d87a3;
	--sl-color-gray-4: #5a536e;
	--sl-color-gray-5: #3a344c;
	--sl-color-gray-6: #28223a;
	--sl-color-black: #191621;
	--background-body-color: #191621;
	--border-radius: 3px;
}

:root[data-theme='light'] {
	--sl-color-accent-low: #fec5d5;
	--sl-color-accent: #311839;
	--sl-color-accent-high: #600030;
	--sl-color-white: #191621;
	--sl-color-gray-1: #28223a;
	--sl-color-gray-2: #3a344c;
	--sl-color-gray-3: #5a536e;
	--sl-color-gray-4: #8d87a3;
	--sl-color-gray-5: #c3bfcf;
	--sl-color-gray-6: #eeecf8;
	--sl-color-gray-7: #f6f5fc;
	--sl-color-black: #ffffff;
	--sl-color-orange-low: #ffe9c2;
	--sl-color-orange: #f89f03;
	--sl-color-asides-text-accent: #081159;
	--background-body-color: #fbfbfb;
	--box-shadow-card: 2px 2px 2px 0 rgba(32, 32, 32, 0.16);
}

::-webkit-scrollbar {
	cursor: pointer;
	width: 11px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--sl-color-gray-6);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--sl-color-gray-4);
}

body {
	font-size: 16px;
	font-family: Comfortaa, Ubuntu, sans-serif;
	font-weight: 400;
	line-height: 2;
	color: var(--sl-color-white);
	background-color: var(--background-body-color);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Comfortaa, Ubuntu, sans-serif;
	font-weight: 900;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	border-radius: var(--border-radius);
}

.main-pane a {
	font-weight: 600;
}

.main-pane img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--border-radius);
}

.sidebar-pane a {
	padding: 7px 0 7px 4px;
}

.sl-badge {
	border: none;
}

article.card {
	border-radius: var(--border-radius);
	border: unset;
	box-shadow: var(--box-shadow-card);
}

summary:where(.astro-3ii7xxms) {
	background-color: var(--sl-color-hairline-light);
	border-radius: 2px;
	line-height: 1.6;
	padding: clamp(.5rem, .5rem + 0vi, .5rem);
}

a:where(.astro-g2bywc46) {
	line-height: 2;
}

select:where(.astro-4yphtoen) {
	min-width: min-content;
}

nav[aria-labelledby="starlight__on-this-page"] > ul {
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

nav[aria-labelledby="starlight__on-this-page"] ul li a {
	font-size: 15px;
	line-height: 1.6;
	text-wrap: balance;
}

nav[aria-labelledby="starlight__on-this-page"] a[aria-current="true"] {
	font-weight: 600;
}
